src/main/mule/router.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="papi-student-counselling-main">
        <http:listener config-ref="papi-student-counselling-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {"correlationId": vars.vCorrelationId,
	"client_id": Mule::p('secure::property.client_id'),
	"client_secret":Mule::p('secure::property.client_secret'),
	"x-dependent-ping": Mule::p('ping.x-dependent-ping')}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes]" doc:name="vAttributes" doc:id="e6684d69-ee7e-4ff1-a946-889ea05282f9" variableName="vAttributes"/>
		<set-variable value="#[payload]" doc:name="vPayload" doc:id="c8ef3b80-8f4e-48c6-85a5-33ca18e68d95" variableName="vPayload"/>
		<apikit:router config-ref="papi-student-counselling-config" />
    </flow>
    <flow name="post:\enroller:application\json:papi-student-counselling-config">
        <flow-ref doc:name="enrollerSub_Flow" doc:id="f935da32-b996-445f-9614-9fe57c38fc17" name="enrollerSub_Flow" />
    </flow>
    <flow name="post:\admissionprocess:application\json:papi-student-counselling-config">
        <flow-ref doc:name="admissionProcessSub_Flow" doc:id="b3d45699-8d36-40bc-a34c-3c2ac19f5863" name="admissionProcessSub_Flow"/>
    </flow>
    <flow name="post:\libregistration:application\json:papi-student-counselling-config">
        <flow-ref doc:name="libraryProcessSub_Flow" doc:id="9bc8107b-f575-4dc6-bcea-abf498ff5d49" name="libraryProcessSub_Flow"/>
    </flow>
	<flow name="get:\ping:papi-student-counselling-config">
		<flow-ref doc:name="Flow Reference" doc:id="ef948450-015f-4a07-aff6-51033abfc925" name="healthCheckSub_Flow"/>
    </flow>
</mule>
